{% extends 'base/main.html' %}
{% load static %}

  {% block content %}
  <!-- End Nav Section -->
  
  <!-- Contact Form Section -->
  <section id="form" data-aos="fade-down">
    <div class="container">
      <h3 class="form__title">
        Food Form
      </h3>
      <div class="form__wrapper">
        <form name="contact" method="POST" netlify>
            {% csrf_token %}
            {% for form in forms %}
          <div class="form__group">
            <label for="firstName">{{form.label}}</label>
            {{form}}
          </div>
            {% endfor %}
          <button type="submit" class="btn primary-btn">Add</button>
          
        </form>
      </div>
    </div>
  </section>

  <!-- End Contact Form Section-->
  <!-- Footer -->
  {% endblock %}