{% extends 'base/main.html' %}
{% load static %}

  {% block content %}
  <!-- End Nav Section -->
  <!-- page Title -->
 
  <!-- Dinner Dishes -->
  <section id="dishGrid" data-aos="fade-up">
    <div class="container">
      <h2 class="dishGrid__title">
        Order
      </h2>
      <div class="dishGrid__wrapper">
        {% for order in orders %}
        <div class="dishGrid__item">
          
          <div class="dishGrid__item__info">
            <h3 class="dishGrid__item__title">
              customer - {{order.customer.name}}
            </h3>
            {% for item in order.orderfood_set.all %}
            <h3 class="dishGrid__item__title">{{item.food.name}} ({{item.quantity}})</h3>
            {% endfor %}
            <h3 class="dishGrid__item__price">Total - ${{order.cart_total}}</h3>
          </div>
          <a href="{% url 'finish' order.id %}" class="btn">Finish</a>

        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- End Dinner Dishes -->

  <!-- aos script -->
  {% endblock %}